@use "~bulma/bulma";

.floss-picker {
  button.panel-block {
    width: 100%;
  }
}

.floss {
  display: flex;
  flex-direction: row;

  .text {
    text-align: left;
  }
}

.panel-block {
  background-color: var(--bulma-background);
}
