@use "~bulma/bulma";

.collections {
  margin-left: auto;
  margin-right: auto;
  td {
    vertical-align: middle;
  }
}

/* The amount of buttons on this page adds a noticable lag if transitions are
enabled when manipulating flosses. */
.collection-page button {
  transition: none;
}
