[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "scrape"
description = ''
readme = "README.md"
requires-python = ">=3.8"
dependencies = [
  "requests",
  "beautifulsoup4",
]
version = "0.0.0"

[tool.hatch.build]
include = ["scrape.py"]