@use "~bulma/bulma";

:root {
  --bulma-primary-h: 284deg;
  --bulma-primary-l: 70%;
}

.collections {
  margin-left: auto;
  margin-right: auto;
  td {
    vertical-align: middle;
  }
}

/* The amount of buttons on this page adds a noticable lag if transitions are
enabled when manipulating flosses. */
.collection-page button {
  transition: none;
}

.footer {
  padding-bottom: 3em;
  .cat {
    width: fit-content;
    margin-left: auto;
  }
}