@use "~bulma/bulma";

:root {
  --bulma-primary-h: 275deg;
  --bulma-primary-s: 100%;
  --bulma-primary-l: 75%;

  background-color: var(--bulma-primary-soft);
}

.collections-page {
  .collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .floss-preview {
    width: 100%;
    height: 100%;
  }
}

/* The amount of buttons on this page adds a noticable lag if transitions are
enabled when manipulating flosses. */
.collection-page button {
  transition: none;
}

.footer {
  padding-bottom: 3em;
  .cat {
    width: fit-content;
    margin-left: auto;
  }
}
