@use "~bulma/bulma";

:root {
  --bulma-primary-h: 275deg;
  --bulma-primary-s: 100%;
  --bulma-primary-l: 75%;

  //background-color: var(--bulma-primary-soft);
}

.floss-picker {
  .grid {
    .floss {
      width: 100%;
    }
  }
}

.collections-page {
  .collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .floss-preview {
    width: 100%;
    height: 100%;
  }
}

.collection-page {
  /* The amount of buttons on this page adds a noticable lag if transitions are
enabled when manipulating flosses. */
  button {
    transition: none;
  }

  /* Make the non-button portion of the floss tags fill available space. */
  .floss .tag:first-child {
    flex: 1;
  }
}

.import-page {
  .grid .cell {
    display: flex;
    .floss {
      flex: 1;
    }
  }
}

.footer {
  padding-bottom: 3em;
  .cat {
    width: fit-content;
    margin-left: auto;
  }
}
